:root {
  --bg-color-primary: #ba68c8;
  --bg-color-secondary: #4a148c;
}

body {
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    var(--bg-color-primary),
    var(--bg-color-secondary)
  ) !important;
}

.ui.white.basic.button {
  color: white !important;
  border: white 2px solid;
  box-shadow: none;
}

.ui.white.basic.button:hover {
  background-color: white !important;
  box-shadow: none;
  color: var(--bg-color-secondary) !important;
}

.ui.basic.label {
  background-color: transparent !important;
}

.obscura-heading {
  margin: 30px 0px !important;
  text-align: center;
  font-size: 50px;
}

.obscura-sub-heading {
  font-size: 30px;
  text-align: center;
  margin: 30px 0px !important;
}

.obscura-text-color {
  text-align: center;
  color: #fff !important;
}

.obscura-input {
  color: white !important;
  font-weight: 700;
  background-color: transparent !important;
  border: 2px solid white !important;
}
